DATABASE_URL="postgresql://postgres:secret@localhost:5433/nestjsdb?schema=public"
JWT_SECRET=supersecretkey

# LLM Feedback Configuration
OPENAI_API_KEY=api_key_von_discord_holen_!
LLM_FEEDBACK_ENABLED=true
